.feed-page {
  position: absolute;
  top: 0;
  left: 500px;
  margin-top: 80px; /* Adjust this value according to your navbar height */
  background-color: #ffffff;
  width: 45%;
  height: 100vh;
}

.createpost {
  margin-top: 50px;
  margin-bottom: 50px;
}
