body {
  background-color: #ffffff;
}

.feed-page {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40vh; /* Half of the container's height */
  margin-left: -22.5%; /* Half of the container's width */
  background-color: #ffffff;
  width: 45%;
  height: 80vh; /* Adjusted to make it more centered */
}
