.comment-container {
  width: 50%;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #fff;

  /* display: flex;
    flex-direction: row;  */
}

.header-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.comment-profilePicture {
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  border-radius: 50%;
  margin-left: 20px; /* Add margin between image and text */
  margin-top: 5px;
  margin-bottom: 5px;
}

.comment-fullName {
  margin-right: 200px; /* Add margin between image and text */
  margin-bottom: 10px;
  margin-top: 15px;
}

.comment-date {
  margin-bottom: 5px;
  margin-top: 10px;
  margin-left: 130px;
  margin-right: 20px;
  font-size: 14px;
  color: #000000;
}

.message {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
  padding: 20px;
  align-items: left;
  border: 1px solid #bbbaba;
  border-radius: 8px;
  font: Helvetica;
}

.like-and-count_container {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

.comment-text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
  align-items: left;
  border: 1px solid #bbbaba;
  border-radius: 8px;
  font: Helvetica;
}

.comment-fullName {
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.comment-like-count {
  margin-left: 10px;
}

.comment-like-button {
  margin-left: 10px;
}
