.like-post {
    padding: 8px 16px; /* Adjust padding */
    background-color: #337ab7; /* Default background color */
    color: #fff; /* Default text color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.like-post:hover {
    background-color: #23527c; /* Background color on hover */
}

/* Unlike button */
.like-post.unliked {
    background-color: #d9534f; /* Adjust background color */
}

.like-post.unliked:hover {
    background-color: #c9302c; /* Background color on hover */
}