
.Profile-background{
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: url("../../static/img/socialmedia1.jpg");
    background-size: cover;
}

.Profile-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #03a9f4, #e91e63);
    z-index: 1;
    mix-blend-mode: screen;
}

.text-overlay, .contentBox {
    position: relative;
    z-index: 2;
}